.register {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.register form input {
    padding: 10px;
    color: red;
}

.register form button {
    padding: 10px;
    color: white;
    background: blue;
    border: none;
}